<div class="container" style="padding-top:300px; width:30%">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <center>
                </center>
                <div>
                    <div class="modal-body">
                        <center>
                            <h3>Your Preferences Have Been Updated!</h3>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
