
@model Plant_Box_Service.Models.DashboardViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container" style="padding-top:200px; width:40%">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myPersonalStatusModal-label">Update Gift Status</h3>
                </center>
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6" style="padding:40px">
                                <center>
                                    <button type="button" class="btn btn-success btn-large" id="Customer_Update" style="width:200px; padding:20px">Update Information</button>
                                </center>
                            </div>
                            <div class="col-md-6" style="padding:40px">
                                <center>
                                    @Html.ActionLink("Deactivate Account", "DeactivateAccount", "Dashboard", new { customerId = Model.Customer.Id }, new { @class = "btn btn-danger btn-large", style = "width:200px; padding:20px" })
                                </center>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myCustomerUpdateModal" role="dialog" data-url='@Url.Action("PersonalUpdate","Dashboard")'></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Customer_Update').click(function () {

            var url = $('#myCustomerUpdateModal').data('url');
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal('show');
            });
        });

    });
</script>